<% provide(:title, "Sobre") %>
<div class="col-md-12 text-center" style="min-height:800px;">
  Trabalho Desenvolvido para matéria <strong>Tópicos especiais em Ciência da Computação</strong>.
  <br>
  <strong>Grupo:</strong> Paulo Xavier e Gabriel Segobia
  <br>
  <strong>Ano: </strong> 2015-1.
  <br>
  <strong>Professor:</strong> Filipe Braida.
  <br>
</div>