<% provide(:title, @genero.name.capitalize) %>
<div class="row">
  <aside class="col-md-4">
    <section class="genero_info">
      <h1>
        <%= @genero.name.capitalize %>
      </h1>
    </section>
  </aside>
</div>