<% provide(:title, @artist.name) %>
<div class="row">
  <aside class="col-md-4 min-600">
    <section class="artist_info">
      <h1>
        <%= @artist.name %>
        <%= @genero.name %>
      </h1>
    </section>
  </aside>
</div>