<%= provide(:title, "Todos as Músicas");%>
<div class="col-md-12">
  <legend>Todas as Músicas</legend>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped text-center" style="margin-top: 30px;" >
      <tr>
        <th class="text-center"> Música </th>
        <th class="text-center"> Artista </th>
        <th class="text-center"> Avaliação Média </th>
        <th class="text-center"> Favorito </th>
      </tr>
      <% @musica.each do |music| %>
      <tr>

        <td><%= music.name.titleize%></a></td>
        <td><%=Artist.find(music.artists_id).name%></td>
        <td> <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        </td>
        <td><a href='#' class='btn btn-danger'><i class='glyphicon glyphicon-heart'></i></a>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>