<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger alert-dismissable">
        <button class="close" aria-hidden="true" data-dismiss="alert" name="buttonAlert" type="button">×</button>
        Esse formulário possui <%= pluralize(@user.errors.count, "erro") %>.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>