@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.min-600{
  min-height: 600px;
}


/* Carousel base class */
.carousel {
  min-height: 500px;
  height: 100%;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: -280px;
  left: 0;
  min-width: 100%;
}

.customThumb {
  height: 200px !important;
  width: 200px !important;
}

.customCol{
  padding-right:0px;
}

.noPadding{
  padding-right:0px;
  padding-left:0px;
}
a:hover,a:focus{
  text-transform: none !important;
}

.tableThumb{
  width:200px;
  height:300px;
}

IMG.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}